form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 20px;
}

form input {
	width: 200px;	
	height: 30px;
	background-color:white;
	border: none;
	
	font-size: 14px;
	border: 1px solid #a0aec0;
	box-sizing: border-box;
	
}

form select {
	width: 200px;
	height: 30px;	
	background-color: white;
	border: none;
	
	font-size: 14px;
	border: 1px solid #a0aec0;
	box-sizing: border-box;
}